# Database
DATABASE_URL=postgres://user:pass@localhost:5432/libri?sslmode=disable

# Storage Selection (s3 or local)
STORAGE_TYPE=local
IMAGE_DIR=../images

# Cloudflare R2 / S3 (Only needed if STORAGE_TYPE=s3)
CF_ACCOUNT_ID=your_account_id
CF_ACCESS_KEY_ID=your_access_key
CF_ACCESS_KEY_SECRET=your_secret_key
S3_BUCKET_NAME=libri-images
S3_PUBLIC_URL=https://pub-your-id.r2.dev
